<img src={{asset-map (concat "images/team/" image)}} alt={{name}} class="img-fluid">
<div class="small margin-top-xsmall">
  {{name}}
</div>
<div>
  <a aria-label="{{name}} Github Profile" class="icon team-member-github" href={{github}}>{{svg-jar "github"}}</a>
  <a aria-label="{{name}} Twitter" class="icon team-member-twitter" href={{twitter}}>{{svg-jar "twitter"}}</a>
</div>